body { 
    margin: 0;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.showcase .header { 
    margin: 0;
}


.showcase::after { 
    content:'';
    height: 100vh;
    width: 100%;
    background-image: url(../img/beach.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(8px);
    -webkit-filter:blur(8px);
    transition: all 1000ms;
}

.showcase:hover::after { 
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.showcase:hover .content{
    filter: blur(1px);
    -webkit-filter:blur(1px);
}  

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 350px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .logo {
    width: 350px;
    height: 200px;
    margin-left: -20px;
}

.content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content .text {
    line-height: 1.7;
    margin-top: 1rem;
}


.container {
    max-width: 960px;
    margin:auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.services {
    background-color: #333;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #333;
}
.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background-color: #333;
    color: #f4f4f4;
    padding: 0.8rem;
}

.footer  {
    padding: 2.2rem;
    
    
}

.footer p {
    margin: 0;
}

/* Small screens special settings */

@media(max-width: 560px) {

    .showcase::after {
        height: 50vh;
    }

    .content {
        top: 5%;
        margin-top: 5px;
    }

    .content .logo {
        height: 140px;
        width: 140px;
        margin-left: -40px;
        
    }

    .content .title {
        font-size: 1.5rem;
        margin-left: -40px;
        
    }

    .content .text {
        display: none;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .services div {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }
