/* Body settings */
body { 
    margin: 0;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    overflow-y:visible
}

.fa-github {
    color:white;
}

.fa-linkedin {
    color:white;
    margin-left: 1.5rem;
}

/* Navigation */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left: 1rem;
    color: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(98, 142, 223);
}

li.nav-item.current {
    background-color: #555; 
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Start CSS about.html */

.about-grid{ 
    display: grid;
    background-color: rgb(98, 142, 223);
    margin: 0;
    grid-template-columns: 200px 1fr;
    grid-gap: 5rem;
 }

 
.passphoto-round{ 
    background-color: rgb(98, 142, 223);
    margin: 0;
    border-radius: 50%;
    border-style: ridge;
    border: 6px solid #ddd;
 }
 .passphoto{ 
    align-self: center;
 }
 .para-about{ 
    padding-right: 2rem;
   
 }

 .passphoto-side-text{ 
    background-color: rgb(98, 142, 223);
    padding-right: 2rem;
 }
 .para-main{ 
    color: #333;
    padding-right: 2rem;
    font-size: 2rem;
    font-weight: bold;
 }
 .p { 
    padding-right: 2rem;

 }

.about-container{ 
    background-color: rgb(98, 142, 223);
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 0.1rem;
    padding-left: 3rem;
 }

/* about header */
.about-header { 
    background-color: rgb(98, 142, 223);
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    font-size: 1.2rem;
 }
 
/* part1 */
  .about-header-part1 {
    color: #333;
}
 /* part2 */
 .about-header-part2 {
     color: rgb(226, 226, 237);
 }

 /* boxes */
 .boxes {
    color: rgb(226, 226, 237);
}

.links-about{
        font-weight: bold;
        color: #333;
        text-align: center; 
        text-decoration: none;
        display: inline-block;
      }
      

/* End CSS about.html */

/* Start CSS project description slackbot */
.pds-header-container   { 
    background-color: rgb(98, 142, 223);
    padding-top: 1rem;
}
.pds-header   { 
    color: #333;
    padding-left: 2rem;
}
.pds-subheader   { 
    color: rgb(226, 226, 237);
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.pds-container-content  { 
    background-color: rgb(226, 226, 237);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
}
.pds-background  { 
    color: #333;
    font-weight: bold;
}
.pds-content-left  { 
    color: #333;
    
}
.pds-content-right  { 
    color: #333;
    padding-left: 1rem;
    
}
.pds-tech { 
    list-style: none;
    padding-left: 0.1rem;
    
}





/* Stop CSS project description slackbot */


/* Start CSS contact.html */

.contact-container{ 
    background-color: rgb(98, 142, 223);
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 0.1rem;
    padding-left: 2rem;
 }

/* about header */
.contact-header { 
    background-color: rgb(98, 142, 223);
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    font-size: 1.2rem;
 }
 
/* part1 */
.contact-header-part1 {
    color: #333;
}
 /* part2 */
.contact-header-part2 {
     color: rgb(226, 226, 237);
 }

 /* boxes */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem; }
.boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
.boxes div:hover {
    padding: 0.5rem 1.5rem;
    background: #eece1a;
    color: #000; }
.boxes div:hover span {
    color: #000; }

/* End CSS contact.html */

/* main-work-p */
.main-work-p { 
    width: 100%;
    padding-left: 2.5rem;
 }

/* all project */
.all_project  { 
    width: 100%;
 }

/* ul projects */
.ul-projects { 
    padding-left: 2.5rem;
    list-style: none;

}


/* ul projects icons */
#icons { 
    color:rgb(37, 247, 37);
}



/* project title */
.project-title  { 
   background-color: rgb(98, 142, 223);
   margin: 0;
   padding-top: 1.5rem;
   padding-bottom: 0.1rem;
}

/* project sub title */
.project-sub-title  { 
    background-color: rgb(98, 142, 223);
    padding-top: 1rem;
    padding-bottom: 0.2rem;
 }


/* project-title-header */
.project-title-header  {
    display:grid;
    grid-template-columns: 63px 1fr;
}

/* part2 */
.part2 {
    margin-left: 10px;
}



 /* project title main-work */
.main-work  {
    padding-left: 2.5rem;
    font-size: 2.5rem; 
    color: #333;
 }

 /* project title main-work-projects */
.main-work-projects  {
    padding-left: 2.5rem;
    font-size: 2.5rem; 
    color: rgb(226, 226, 237);
}

  /* project title sub heading */
.sm-heading  {
    padding-left: 2.5rem;
    font-size: 1.5rem; 
    color: rgb(226, 226, 237);
    padding-bottom: 2rem;
}

/* projects-container */
.projects-container {
    background-color: rgb(98, 142, 223);
    width:100%;

} 

/* projects-item */
.project-item {
    text-align: center;
    color: rgb(226, 226, 237);
    width:100%;

} 
 /* projects */
 .projects {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1.5rem;
    background-color: rgb(132, 135, 142);
    margin: auto;
} 

 /* projects images */
 .proj-img {
    border: 4px #333 solid;
    width: 100%;     
} 

 
/* projects images hover effect */
.proj-img:hover {
    opacity: 0.5;
    border-color: #eece1a;
    transition: all 0.5s ease-out; 
}

/* projectsbutton */
.btn, .btn-dark, .btn-light {
    display: block;
    padding: 0.5rem 1rem;
    border: 0; 
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
    background: rgb(98, 142, 223);
    color: #000; 
}

.btn-dark {
    background: #333;
    color: #fff;
    text-align: center;
}
      
.btn-light {
    background: #c4c4c4;
    color: #333; 
    text-align: center;
}

a.btn-light {
        text-decoration: none;
}
a.btn-dark {
    text-decoration: none;
}


/* Showcase back and foreground */
.showcase .header { 
    margin: 0;
}


.showcase::after { 
    content:'';
    height: 100vh;
    width: 100%;
    background-image: url(../img/beach.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(8px);
    -webkit-filter:blur(8px);
    transition: all 1000ms;
}

.showcase:hover::after { 
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.showcase:hover .content{
    filter: blur(0.5px);
    -webkit-filter:blur(0.5px);
}  

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 350px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .logo {
    width: 350px;
    height: 200px;
    margin-left: -20px;
}

.content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content .text {
    line-height: 1.7;
    margin-top: 1rem;
}

/* Section of the services */
.container {
    max-width: 960px;
    margin:auto;
    overflow: hidden;
    padding: 3rem 1rem;
}

.services {
    background-color: #333;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #333;
}

#no-link-icons {
    text-decoration: none;
    color: white;  
}

/* Section about */
.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.aboutlink {
    background: #f4f4f4;
    color: #333;
    
}

/* Section footer */
.bg-dark {
    background-color: #333;
    color: #f4f4f4;
    padding: 0.8rem;
}

.footer  {
    padding: 2.2rem;
}

.footer p {
    margin: 0;
}


/* Small screens special settings - max width 414px */
@media (max-width: 414px)  {
    #no-link-icons {
        text-decoration: none;
        color: white;  
    }


    .pds-container-content  { 
        display: grid;
        grid-template-columns: 1fr;
    }    
    .about-grid{ 
        grid-template-columns: 1fr;
     }   
 /* boxes */
 .contact-header { 
    grid-template-columns: 1fr;
    justify-content: center;
    font-size: 1.0rem;
 }
.boxes div {
    font-size: 1rem;
    border: 3px #fff solid;
    padding: 1.0rem 2.0rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
.boxes div:hover {
    padding: 0.5rem 1.0rem;
    background: #eece1a;
    color: #000; }
.boxes div:hover span {
    color: #000; }

    body { 
        margin: 0;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
    }

    .showcase::after {
        height: 50vh;
    }

    .content {
        top: 10%;
        margin-top: 5px;
    }

    .content .logo {
        height: 160px;
        width: 160px;
        margin-left: -60px;   
    }

    .content .title {
        font-size: 1.5rem;
        margin-left: -60px;
    }

    .content .text {
        display: none;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .services div {
        border-bottom: #ffffff dashed 1px;
        padding: 1.2rem 1rem;
        margin-right: 5px;
    }

    .aboutmeh3 {
        text-align: center;
    }

    .aboutmetext {
        text-align: center;
        margin-right: 20px;
    }

    .projects {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 1.5rem;
        background-color: rgb(132, 135, 142);
        margin: auto;
    } 
/* Small screens special settings - iPhone 6,7,8 */
@media (max-width: 375px) {
    .about-grid{ 
        grid-template-columns: 1fr;
     }   
    .pds-container-content  { 
        display: grid;
        grid-template-columns: 1fr;
    }  
   
    #no-link-icons {
        text-decoration: none;
        color: white;  
    }
     /* boxes */
     .contact-header { 
        grid-template-columns: 1fr;
        justify-content: center;
        font-size: 1.0rem;
     }
    .boxes div {
        font-size: 1rem;
        border: 3px #fff solid;
        padding: 1.0rem 2.0rem;
        margin-bottom: 3rem;
        margin-right: 80px;
        transition: all 0.5s ease-out; }
    .boxes div:hover {
        padding: 0.5rem 1.0rem;
        background: #eece1a;
        color: #000; }
    .boxes div:hover span {
        color: #000; }

    body { 
        margin: 0;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 105%;
    }

    .projects {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 1.5rem;
        background-color: rgb(132, 135, 142);
        margin: auto;
    } 
    .showcase::after {
        height: 59vh;
    }

    .content {
        top: 10%;
        margin-top: 5px;
    }

    .content .logo {
        height: 180px;
        width: 180px;
        margin-left: -60px;   
    }

    .content .title {
        font-size: 1.5rem;
        margin-left: -60px;
    }

    .content .text {
        display: none;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .services .div {
        border-bottom: #ffffff dashed 1px;
        padding: 1.2rem 1rem;
        margin-right: 5px;
    }

    .aboutmeh3 {
        text-align: center;
        
    }

    .aboutmetext {
        text-align: center;
        margin-left: 20px;
        margin-right: 30px;
    }

/* Small screens special settings - max width 360px */
@media (max-width: 360px)  {
    .about-grid{ 
        grid-template-columns: 1fr;
     }   
    .pds-container-content  { 
        display: grid;
        grid-template-columns: 1fr;
    }  
    #no-link-icons {
        text-decoration: none;
        color: white;  
    }
    /* boxes */
    .contact-header { 
       grid-template-columns: 1fr;
       justify-content: center;
       font-size: 1.0rem;
    }
   .boxes div {
       font-size: 1rem;
       border: 3px #fff solid;
       padding: 1.0rem 2.0rem;
       margin-bottom: 3rem;
       transition: all 0.5s ease-out; }
   .boxes div:hover {
       padding: 0.5rem 1.0rem;
       background: #eece1a;
       color: #000; }
   .boxes div:hover span {
       color: #000; }
   
       body { 
           margin: 0;
           color: #ffffff;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           width: 100%;
       }
   
       .showcase::after {
           height: 50vh;
       }
   
       .content {
           top: 10%;
           margin-top: 5px;
       }
   
       .content .logo {
           height: 160px;
           width: 160px;
           margin-left: -60px;   
       }
   
       .content .title {
           font-size: 1.5rem;
           margin-left: -60px;
       }
   
       .content .text {
           display: none;
       }
   
       .grid-3, .grid-2 {
           grid-template-columns: 1fr;
       }
   
       .services div {
           border-bottom: #ffffff dashed 1px;
           padding: 1.2rem 1rem;
           margin-right: 5px;
       }
   
       .aboutmeh3 {
           text-align: center;
       }
   
       .aboutmetext {
           text-align: center;
           margin-right: 20px;
       }
   
       .projects {
           width: 90%;
           display: grid;
           grid-template-columns: 1fr;
           grid-row-gap: 1rem;
           grid-column-gap: 1.5rem;
           background-color: rgb(132, 135, 142);
           margin: auto;
       } 

/* Small screens special settings - iPhone 5/SE */
@media (max-width: 321px) {
    .about-grid{ 
        grid-template-columns: 1fr;
     }   
    .pds-container-content  { 
        display: grid;
        grid-template-columns: 1fr;
    }  
    #no-link-icons {
        text-decoration: none;
        color: white;  
    }
    .contact-header { 
        grid-template-columns: 1fr;
        justify-content: center;
        font-size: 0.8rem;
        margin-right: 80px;
     }
    .boxes div {
        font-size: 1rem;
        border: 3px #fff solid;
        padding: 1.0rem 2.0rem;
        margin-bottom: 3rem;
        margin-right: 80px;
        transition: all 0.5s ease-out; }
    .boxes div:hover {
        padding: 0.5rem 1.0rem;
        background: #eece1a;
        color: #000; }
    .boxes div:hover span {
        color: #000; }

    body { 
        margin: 0;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 115%;
    }
    .projects {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 1.5rem;
        background-color: rgb(132, 135, 142);
        margin: auto;
    } 
    .showcase::after {
        height: 66vh;
    }

    .content {
        top: 10%;
        margin-top: 5px;
    }

    .content .logo {
        height: 200px;
        width: 200px;
        margin-left: -20px;
    }

    .content .title {
        font-size: 1.8rem;
        margin-left: -20px;
        
    }

    .content .text {
        display: none;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .services .div {
        border-bottom: #ffffff dashed 1px;
        padding: 1.2rem 1rem;
    }

    .aboutmeh3 {
        text-align: center;
    }

   
    .aboutmetext {
        text-align: center;
        margin-left: 20px;
    }


 
/* End of mobile settings*/


/* Landscape settings*/
@media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
    #no-link-icons {
        text-decoration: none;
        color: white;  
    }
    .content {
      top: 0;
    }
}
}
}
}
}